.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1rem;
    background:lightgray;
    border-radius: 25px;
}

.title{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}